RewriteEngine On
Options -Multiviews
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^store store [NC,R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(about|group|portrait|faq) /$1.php [NC,L]